@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.fnt-os{
    font-family: 'Oswald', sans-serif;
    
}
.fnt-i{
  font-family: 'Smooch', cursive;
}
.bs-sum img{
  width: 100px;
}
.b-sum{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.box{
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin-top: 15px;
}
.box-lg{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}
.box:focus{
  outline: none;
  
}
.mark>th{
  font-size: 1rem;
}

.fnt-time{
  font-family: 'Times New Roman', Times, serif;
}
.brands{
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; */
  padding: 20px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.tool-bg{
  filter: brightness(40%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
